<div mat-dialog-title #title>
  <mat-toolbar>
    <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
      <h2>文件上传</h2>

    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <button mat-icon-button (click)="OnMinimize()">
        <mat-icon [ngClass]="{'iconfont':true, 'iconwindow-minimize':!minimize,'iconarrowupright2':minimize}">
        </mat-icon>
      </button>
      <button mat-icon-button color="warn" (click)="OnClose()">
        <mat-icon class="iconfont iconclose"></mat-icon>

      </button>

    </div>
  </mat-toolbar>
</div>

<div mat-dialog-content *ngIf="!minimize">
  <mat-list>
    <mat-list-item *ngFor="let file of files">
      <mat-icon matListIcon color="warn" class="iconfont iconfile_music"></mat-icon>

      <h4 mat-line>{{file.name}}</h4>

    </mat-list-item>
  </mat-list>
</div>
