<mat-sidenav-container class="container">
  <mat-sidenav mode="side" opened class="sidenav ">
    <mat-toolbar fxLayoutAlign="center center" class="sidenav-header">
      <h1>网盘</h1>

    </mat-toolbar>
    <div class="submenunav-outer submenunav">
      <app-sidenav [menuItems]="netdiskmenuitems"></app-sidenav>

    </div>
  </mat-sidenav>
  <mat-sidenav-content fxLayout="column" >
    <mat-toolbar class="flex-p-x" >
      <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
        <div fxLayout="row" fxLayoutAlign="center center">
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
            <mat-icon class="iconfont icondownload"></mat-icon>
          </button>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon class="iconfont iconrename"></mat-icon>
            </button>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon class="iconfont iconcopy"></mat-icon>
            </button>
          <button mat-icon-button aria-label="Example icon-button with a heart icon">
              <mat-icon class="iconfont iconequipmentsharing"></mat-icon>
            </button>
        </div>

      </div>
      <div fxLayout="row" fxLayoutAlign="end center">
		<input type="file" #file style="display: none" (change)="onFilesAdded()"/>
        <button mat-stroked-button color="primary" (click)="OnUploadClick()">上传文件</button>
      </div>
    </mat-toolbar>
    <div >
      <router-outlet (activate)="onActivate($event)"></router-outlet>
	</div>
	<span #freespace  fxFlex></span> 

  </mat-sidenav-content>
</mat-sidenav-container>