@import "../../theme/styles/variables";

.container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: #eee;
}

.sidenav{
    width: 170px;
    overflow: hidden;   

}
.submenunav-outer{
  height: calc(100% - #{$toolbar-height}); 
}

.fill-remaining-space{
  flex: 1 1 auto;

}
