<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
    <mat-card class="p-0 mat-elevation-z24 box register">
      <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
        <img alt="Audiogo" src="assets/img/vendor/audiogo.JPG">
        <a mat-button routerLink="/login">已经有账号了，登录~~</a>
      </div>
      <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
          <h1 class="box-content-header">注册单位</h1>

          <mat-form-field class="w-100" appearance="outline">
            <mat-label>手机号</mat-label>
            <input matInput required autocomplete="new-password" placeholder="用于登录和找回密码..." id="telnumber"
              class="form-control" formControlName="telnumber">
            <mat-error *ngIf="phonenumber.invalid"> {{getTelnumberErrorString()}}</mat-error>
          </mat-form-field>
          <mat-form-field class="w-100" appearance="outline">
            <mat-label>验证码</mat-label>
            <input matInput id="code" placeholder="请输入验证码" formControlName="verificationcode">
            <app-smsverifycode matSuffix (SMSReceived)="OnSmsChanged($event)" [phoneNumber]="phonenumber.value"
              [Disabled]="phonenumber.invalid"></app-smsverifycode>
            <mat-error *ngIf="smscode.invalid">{{getVerificationCodeErrorString()}} </mat-error>

          </mat-form-field>
        </mat-card>
        <button mat-raised-button color="primary" [disabled]="registerForm.invalid" class="mat-elevation-z12 box-button"
          type="submit">注册</button>
      </mat-card-content>
    </mat-card>
  </form>
</div>