<header>
  <mat-toolbar color="primary" fxLayout="row">
    <div fxLayout="row" fxLayoutAlign="center center" fxFlex="none">
        <img  alt="Audiogo" src="assets/img/vendor/audiogo.JPG" >
    </div>
    <div fxFlex ></div>
    <div fxLayout="row" fxLayoutGap="20px" fxFlex="nogrow" >
        <button mat-button  (click)="Register()"> 注册</button>
        <button mat-button (click)="Login()"> 登录</button>
    </div>
    
  </mat-toolbar>
</header>
<app-section1></app-section1>
<app-section2></app-section2>
<footer class="footer">
  <div>
      <img src="assets/img/vendor/audiogo.JPG">
  </div>
  <div>
    <p> 版权所有  京ICP备</p>
  </div>
  
 

</footer>

