<div id="app" class="app"  [ngClass]="settings.theme">
    <router-outlet></router-outlet>
    <div id="app-spinner" [class.hide]="!settings.loadingSpinner" >
        <mat-spinner color="primary"></mat-spinner>
        <h4>loading...</h4>
    </div>
</div>

