<button mat_button (click)="TestWasm()">Test</button>
<table mat-table #table [dataSource]="dataSource" matSort class="tablecontent" on-mouseleave="HoverRow(-1)">
  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 文件名 </th>
    <td mat-cell *matCellDef="let element"><span>{{element.name}}</span> </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="size">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 大小 </th>
    <td mat-cell *matCellDef="let element"> <span>{{element.size}}</span> </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="duration">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> 时长 </th>
    <td mat-cell *matCellDef="let element"> <span>{{element.duration}}</span> </td>
  </ng-container>

  <!-- Format Column -->
  <ng-container matColumnDef="format">
    <th mat-header-cell *matHeaderCellDef> 格式 </th>
    <td mat-cell *matCellDef="let element"> <span>{{element.format}}</span> </td>
  </ng-container>

  <ng-container matColumnDef="optionbuttons" >
    <th mat-header-cell *matHeaderCellDef></th>
    <td mat-cell *matCellDef="let row;let index=index "  style="width: 50px">
      <div  *ngIf="index==hoveredIndex" >
        <button mat-icon-button (click)="selectionToggle(row)">
          <mat-icon color="primary" class="iconfont icondownload"></mat-icon>
        </button>
      </div>

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns.concat(['optionbuttons'])"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns.concat(['optionbuttons']);let index=index;let hoveredIndex;"
    [ngClass]="{'highlight' : index == selectedIndex}" on-mouseover="HoverRow(index)" (click)="selectRow(row,index)"></tr>
</table>
