<div class="sec1" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="20px">
    <h1>audiogo demo</h1>
    <button mat-raised-button color="accent" (click)="OnTryDemo()">试一下吧</button>

</div>
