<div>
  <div>音频编辑器</div>
  <mat-toolbar class="flex-p-x">
    <div fxLayout="row" fxLayoutAlign="start center" class="w-100">
      <button mat-icon-button color="primary" aria-label="cut"  (click)="OnCutClick()" >
        <mat-icon class="iconfont iconcut" ></mat-icon>
      </button>
      <button mat-icon-button color="primary" aria-label="undo" (click)="OnUndoClick()">
          <mat-icon class="iconfont iconundo"></mat-icon>
        </button>
     
    </div>
    <div fxLayout="row" fxLayoutAlign="end center">
      <input type="file" #file style="display: none" (change)="onFilesAdded()" />
      <button mat-stroked-button color="primary" (click)="OnUploadClick()">上传文件</button>
    </div>
    
  </mat-toolbar>

  <div class="audioeditor" fxLayout="column">
  

    <canvas class="canvas"  id="canvas" #canvas>
      cannot support canvas

    </canvas>
      <mat-progress-bar class="readingprogress" color="primary" mode="determinate" [value]="readingpercent">
    </mat-progress-bar>

  </div>


</div>