<h1 mat-dialog-title>选择公司登录</h1>
<div mat-dialog-content>
  <cdk-virtual-scroll-viewport itemSize="30" class="example-viewport">
      <mat-action-list *ngFor="let company of comanylist">
          <button mat-list-item (click)="SelectCompany(company.id)">
            <mat-icon matListIcon class="iconfont icongongsi"></mat-icon>
            <p matLine>{{company.name}}</p>
            <mat-icon class="iconfont iconarrowupright2"></mat-icon>
          </button>
          <mat-divider></mat-divider>
      
        </mat-action-list>

    </cdk-virtual-scroll-viewport>
  
</div>

<div mat-dialog-actions fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="10px">

  <div fxLayoutAlign="start">
    <p>再注册一个新的</p>
  </div>

  <button mat-raised-button color="warn" (click)="FillProfile()" cdkFocusInitial>继续注册新公司</button>

</div>
