<mat-sidenav-container>
  <mat-sidenav opened mode="side" class="sidenav ">

    <mat-toolbar color="primary" fxLayoutAlign="center center" class="sidenav-header">
      <a mat-raised-button color="accent" class="small-logo">AG</a>

    </mat-toolbar>

    <div class="mainmenunav-outer mainmenunav">

      <!-- <a mat-button routerLink="/workshop/netdisk" fxLayout="row" fxLayoutAlign="center center"
        routerLinkActive="active-link" routerLinkActiveOptions="{exact:true}">
        <span>
          <mat-icon class="iconfont iconwangpan"></mat-icon>
        </span>
        <span class="menu-title">网盘</span>

      </a>
      <a mat-button routerLink="/workshop/workstream" fxLayout="row" fxLayoutAlign="center center"
        routerLinkActive="active-link" routerLinkActiveOptions="{exact:true}">
        <span>
          <mat-icon class="iconfont iconaudio-editing"></mat-icon>
        </span>

        <span class="menu-title">业务</span>

      </a> -->

      <a mat-button routerLink="/workshop/mediatools" fxLayout="row" fxLayoutAlign="center center"
      routerLinkActive="active-link" routerLinkActiveOptions="{exact:true}">
      <span>
        <mat-icon class="iconfont iconaudio-editing"></mat-icon>
      </span>

      <span class="menu-title">工具</span>

    </a>

    </div>
    <div fxLayout="column" fxLayoutAlign="center center" class="user-block">
      <div fxLayoutAlign="center center" class="user-info-wrapper">
        <img src="../../assets/img/users/user.jpg" alt="user-image">
      </div>

    </div>

  </mat-sidenav>
  <mat-sidenav-content>
    <div>
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>

</mat-sidenav-container>