@import "../theme/styles/variables";



.sidenav{
    width: 70px;
    overflow: hidden;   
}
  
.mainmenunav-outer{
    height: calc(100% - #{$toolbar-height+$sidenav-user-block-height}); 
    // &.user-block-show{
    //     height: calc(100% - #{$toolbar-height + $sidenav-user-block-height}); 
    // } 
}
.user-block{
    height: $sidenav-user-block-height;
    position: relative;  
    z-index: 1; 
    overflow: hidden;  
    img{
        width: 80px; 
        border: 1px solid rgba(0, 0, 0, 0.2);
        border-radius: 50%;       
    }
    .user-info-wrapper{
        padding: 0 6px;
        margin: 6px 0;
        width: 100%;
        .user-info{
            text-align: center;
            .name{
                font-size: 15px
            }
            .position{
                font-size: 13px;
            }
        }
    } 
   
} 
