<div fxLayout="row" fxLayoutAlign="center center" class="h-100">
  <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">
    <mat-card class="p-0 mat-elevation-z24 box register">
      <mat-card-header fxLayoutAlign="center center" class="box-header">
        <mat-card-title>填写个人信息</mat-card-title>
        <mat-card-subtitle>填写注册信息，完成注册</mat-card-subtitle>
      </mat-card-header>

      <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
            <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
                    <mat-form-field class="w-100" appearance="outline">
                        <mat-label>姓名</mat-label>
                        <input matInput required  placeholder="请输入您的姓名..." id="username" formControlName="username">
                        <mat-error *ngIf="username.invalid"> {{getUsernameErrorString()}}</mat-error>

                      </mat-form-field>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>密码</mat-label>
                        <input matInput required  placeholder="请输入密码" id="password" formControlName="password">
                        <mat-error *ngIf="password.invalid"> {{getPasswordErrorString()}}</mat-error>

                      </mat-form-field>
                      <mat-form-field class="w-100" appearance="outline">
                        <mat-label>单位名称</mat-label>
                        <input matInput required id="companyname" placeholder="请输入要注册的团队名称" formControlName="companyname">
                        <mat-error *ngIf="companyname.invalid"> {{getCompanynameErrorString()}}</mat-error>

                      </mat-form-field>
          </mat-card>
          <button mat-raised-button color="primary" [disabled]="profileForm.invalid" class="mat-elevation-z12 box-button" type="submit">完成注册</button>

       

      </mat-card-content>
      

    </mat-card>
  </form>
</div>