<div fxLayout="row" fxLayoutAlign="center center" class="h-100">

  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" fxFlex="80" fxFlex.gt-sm="30" fxFlex.sm="60">

    <mat-card class="p-0 mat-elevation-z24 box register">
      <div fxLayout="column" fxLayoutAlign="center center" class="bg-primary box-header">
        <img alt="Audiogo" src="assets/img/vendor/audiogo.JPG">
        <a mat-button routerLink="/register">还没有账号？ 去注册一个吧</a>
      </div>
      <mat-card-content fxLayout="column" fxLayoutAlign="end center" class="box-content">
        <mat-card fxLayout="column" fxLayoutAlign="center center" class="mat-elevation-z12 box-content-inner">
          <mat-tab-group (selectedTabChange)="onSelectedTabChange($event)"  >
            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="iconfont iconlogin_zhanghu">密码登录</mat-icon>
              </ng-template>

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>手机号或者邮箱</mat-label>
                <input matInput required autocomplete="new-password" placeholder="输入手机号或者邮箱..." id="username"
                  class="form-control" formControlName="username">
                <mat-error *ngIf="username.invalid"> {{getUsernameErrorString()}}</mat-error>
              </mat-form-field>

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>密码</mat-label>
                <input matInput required placeholder="请输入密码" id="password" formControlName="password">
                <mat-error *ngIf="password.invalid"> {{getPasswordErrorString()}}</mat-error>

              </mat-form-field>

            </mat-tab>

            <mat-tab>
              <ng-template mat-tab-label>
                <mat-icon class="iconfont iconsms">短信登录</mat-icon>
              </ng-template>

              <mat-form-field class="w-100" appearance="outline">
                <mat-label>手机号</mat-label>
                <input matInput required autocomplete="new-password" placeholder="用于登录和找回密码..." id="telnumber"
                  class="form-control" formControlName="telnumber">
                <mat-error *ngIf="telnumber.invalid"> {{getTelnumberErrorString()}}</mat-error>
              </mat-form-field>
              <mat-form-field class="w-100" appearance="outline">
                <mat-label>验证码</mat-label>
                <input matInput id="code" placeholder="请输入验证码" formControlName="verificationcode">
                <app-smsverifycode matSuffix (SMSReceived)="OnSmsChanged($event)" [phoneNumber]="telnumber.value"
                  [Disabled]="telnumber.invalid"></app-smsverifycode>
                <mat-error *ngIf="smscode.invalid">{{getVerificationCodeErrorString()}} </mat-error>

              </mat-form-field>
            </mat-tab>
          </mat-tab-group>
        </mat-card>
        <button mat-raised-button color="primary" class="mat-elevation-z12 box-button" type="submit">登录</button>
      </mat-card-content>
    </mat-card>

  </form>

</div>
