<!-- <mat-toolbar class="flex-p-x">
  <div fxLayout="row" fxLayoutAlign="space-between center" class="w-100">
    <div fxLayout="row" fxLayoutAlign="center center">
      <button mat-icon-button aria-label="Example icon-button with a heart icon" routerLink="./audioeditor">
        <mat-icon class="iconfont iconaudio-editing"></mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon class="iconfont iconrename"></mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon class="iconfont iconcopy"></mat-icon>
      </button>
      <button mat-icon-button aria-label="Example icon-button with a heart icon">
        <mat-icon class="iconfont iconequipmentsharing"></mat-icon>
      </button>
    </div>

  </div>
  <div fxLayout="row" fxLayoutAlign="end center">

  </div>

</mat-toolbar> -->

  <router-outlet></router-outlet>
